<% provide(:title, "Home") %>
<h1>家計を改善できる家計簿アプリ</h1>
<div class="container-list">
    <div class="container-form">
        <div class="container-signin">
            <h1>サインイン</h1>
            <div class="email">
                <p>メールアドレス</p>
                <input class="form-email" type="text"/>
            </div>
            <div class="password">
                <p>パスワード</p>
                <input class="form-password" type="text"/>
            </div>
            <button class="button-signin" type="button">SignIn</button>
        </div>
    </div>
    <div class="container-form">
         <div class="container-signup">
            <h1>サインアップ</h1>
            <p>一緒に家計改善を始めよう!</p>
            <%= form_with url: new_user_path, method: :get do %>
                <%= submit_tag 'Sign Up', class: 'button-signup' %>
            <% end %>
        </div>
    </div>
</div>
