<% provide(:title, "Income") %>
<body>
    <div class="container">
        <div class="income-page">
            <div class="grath">
                <div class="grath-income-this-year">
                    <h1>今年の収入のグラフ</h1>
                </div>
                <div class="grath-income-this-month">
                    <h1>今月の収入のグラフ</h1>
                </div>
            </div>
            <div class="index-income">
                <h1>2</h1>
            </div>
        </div>
    </div>
</body>
