<% if @user.errors.any? %>
  <div>
    <div class="alert alert-danger">
      このフォームには <%= @user.errors.count %>個のエラーが含まれています。
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
